.nav-container{
    background-color: 	#808080;
}

.coursetable{
    text-align : center;
    width : 50%;
    position: center;
    height : 22%;
    font-size : 22px;
    background-color: #ff9999;
    border-radius: 23px;
    padding-top : 6px;
    margin-left: auto;
    margin-right: auto;
}

.coursetableapps{
    text-align : center;
    width : 50%;
    position: center;
    height : 12%;
    font-size : 22px;
    background-color: rgb(105, 255, 113);
    border-radius: 23px;
    padding-top : 6px;
    margin-left: auto;
    margin-right: auto;
}

.flash-container {
    background:#0bce07;
	font-family: Tahoma;
	font-size: 24px;
    padding: 30px;
    margin : 15px 0px 15px 0px;
}

.si {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
}

.pretagitem {
    text-align: center;
    margin: 1%;
    padding: 2px 2px;
    border-style: double;
    background-color: #ff8080;
}

.white{
    color: white;
    text-align: right;
    margin: auto;
    padding: 13px;
}