<html>
    <head>
        <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>

<body>
  <div class = "nav-container">
      <table>
          <td><a href="{{ url_for('index') }}" class="button">Home</a></td>
      </table>
      <a href="{{ url_for('studregister') }}" class="button">Register as Student</a>
      <a href="{{ url_for('profregister') }}" class="button">Register as Professor</a>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="flash-container">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}



      {% block content %} {% endblock %}
  </div>
</body>

</html>